<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Danspotnytool</title>
        <link rel="preload" href="../public/css/newIndex.css" as="style">
        <link rel="preload" href="../public/fonts/Nunito-Light.ttf" type="font/ttf" as="font" crossorigin>
        <link rel="stylesheet" href="../public/css/newIndex.css" type="text/css">
        <script defer="true" src="../public/js/newIndex.js"></script>
    </head>
    <body>
        <div id="headerPlace"></div>
        <div class="area" id="header">

        </div>

        <div class="area" id="home">

        </div>

        <div class="area" id="experiences">

        </div>

        <div class="area" id="socials">

        </div>

        <div class="area" id="contacts">

        </div>
    </body>
</html>