<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Danspotnytool</title>
        <link rel="preload" href="./css/newIndex.css" as="style">
        <link rel="preload" href="./fonts/Nunito-Light.ttf" type="font/ttf" as="font" crossorigin>
        <link rel="stylesheet" href="./css/newIndex.css" type="text/css">
        <script defer="true" src="./js/newIndex.js"></script>
    </head>
    <body>
        <div id="headerPlace1"></div>
        <div id="headerPlace2"></div>
        <div class="area" id="header">
            <div id="logoCard"></div>
            <div id="toOtherPages"></div>
        </div>

        <div class="area" id="home">
            <div class="panel">
                <div id="profileInformations"></div>
                <div id="profileDiv"></div>
            </div>
        </div>

        <div class="area" id="experiences">
            <div class="panel">
                <div id="experiencesPanel">
                    <div class="experiencesTile top">
                        <div class="experienceCard left">
                            <div class="experience"></div>
                        </div>
                        <div class="experienceCard right">
                            <div class="experience"></div>
                        </div>
                    </div>
                    <div class="experiencesTile bottom">
                        <div class="experienceCard left">
                            <div class="experience"></div>
                        </div>
                        <div class="experienceCard right">
                            <div class="experience"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="area" id="socials">
            <div class="panel">
                <div class="socials left"></div>
                <div class="socials right"></div>
            </div>
        </div>

        <div class="area" id="contacts">
            <div class="panel">

            </div>
        </div>
    </body>
</html>