@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Light.ttf');
}

:root {
    --color: black;
    --backgroundColor: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--color);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.area {
    width: 100%;
}



#headerPlace {
    height: 75px;
    width: 100%;
    top: 0;
}

#header {
    height: 75px;
    width: 100%;
    top: 0;
    background: green;
    position: absolute;
    transition: margin-top 0.5s;
    z-index: 10;
}



#home {
    height: 550px;
    background: blue;
}



#experiences {
    height: 4000px;
}



#socials {
    height: 1500px;
    background: blue;
}



#contacts {
    height: 500px;
    background: red;
}