@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Light.ttf');
}

:root {
    --color: black;
    --backgroundColor: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--color);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}



#header {
    height: 60px;
    width: 1600px;
    max-width: 100%;
    top: 0px;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    background: hsla(0, 0%, 100%, 0.5);
    position: -webkit-sticky;
    position: sticky;
    z-index: 30;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#logoOption {
    height: 100%;
    width: 150%;
    text-align: left;
}
#logo {
    height: 50px;
    margin-top: 5px;
    margin-left: 10%;
    filter: drop-shadow(0 0 10px black);
}
.options {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options label {
    height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.partInput {
    height: 10px;
    width: 100px;
    margin-top: -15px;
    border-radius: 10px;
    background: none;
    position: relative;
    display: flex;
    transition: background 0.3s;
    overflow: hidden;
}
.options .partInput div {
    height: 100%;
    width: 25%;
    border-radius: 30rem;
    transition: background 0.3s;
}
label[for="experiencesPart"]  ~ .partInput{
    background: hsla(0, 0%, 100%, 0.5);
}



a {
    text-decoration: none;
}
.area {
    width: 100%;
    display: flex;
    justify-content: center;
}
.panel {
    height: 100%;
    width: 1400px;
    max-width: 100%;
    position: relative;
}



#homeScroll {
    top: 0;
    display: none;
    position: absolute;
}
#home {
    height: 600px;
}
#home .panel {
    background: black;
    position: relative;
    display: flex;
    justify-content: center;
}
#poster {
    height: 100%;
    max-width: 1080px;
    display: flex;
    position: absolute;
    z-index: 5;
}
#poster video {
    width: 100%;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    pointer-events: none;
}
#posterTextPanel {
    height: 100%;
    font-size: 2rem;
    text-align: left;
    position: absolute;
    z-index: 5;
}
#posterTextPanel span {
    -ms-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
#posterTextPanel br {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#posterTextPanel span div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 100rem;
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    background: hsla(0, 0%, 100%, 0.25);
}
#posterTextCard {
    margin-top: 15%;
    top: 60px;
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
}
#posterTextPanel span * {
    color: white;
}
#greetings {
    font-size: 5rem;
}
#name {
    font-size: 4rem;
}
#username {
    font-size: 3.5rem;
}
#textCursor {
    height: 4rem;
    width: 0.5rem;
    margin-left: 0.5rem;
    padding: 0 !important;
    border-radius: 5px !important;
    display: inline-block !important;
    vertical-align: bottom;
    background: white !important;
    filter: opacity(1);
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        filter: opacity(1);
    }
    49.9% {
        filter: opacity(1);
    }
    50% {
        filter: opacity(0);
    }
    99.9% {
        filter: opacity(0);
    }
}



#experiences {
    height: 4000px;
}
#experiences .panel {
    position: relative;
}
#experiencesBackground {
    height: 100%;
    width: 100%;
    top: 0;
    background: hsla(0, 0%, 50%, 0.5);
    font-size: 0;
    text-align: left;
    position: absolute;
    z-index: 1;
}
#innerBorder {
    height: calc(100% - 20px);
    width: 90%;
    top: 20px;
    left: 10%;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    background: var(--backgroundColor);
    display: inline-block;
    position: absolute;
    z-index: -1;
}
#verticalBanner {
    height: 100%;
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
#verticalBanner div {
    height: 7.6923076923076925%;
    max-width: 50vw;
    display: inline-flex;
    align-items: center;
}
#verticalBanner div::before {
    content: '';
    height: 100%;
    width: 200px;
    max-width: 30%;
    display: inline-block;
}
#verticalBanner img {
    max-width: 90%;
    max-height: 250px;

    /* filter: drop-shadow(0 0 10px black); */

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#experiencesTile {
    height: 100%;
    width: 700px;
    min-width: 50%;
    max-width: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}
.experiencesBox {
    height: 100%;
    width: 100%;
}
.experienceCard {
    max-width: 40%;
    padding: 20px;
    margin: 25px;
    top: calc(60px + 10px);
    border-radius: 20px;
    color: var(--backgroundColor);
    font-size: 1.5rem;
    font-weight: 500;
    background: hsla(0, 0%, 50%, 0.5);
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
}
.experienceCard code {
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    color: var(--backgroundColor);
    background: hsla(0, 0%, 50%, 0.5);
}



#certificates {
    height: 1000px;
    background: hsla(0, 0%, 50%, 0.5);
    display: block;
    position: relative;
}
#certificatesBackground {
    height: 92.5%;
    width: 90%;
    top: 7.5%;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    background: var(--backgroundColor);
    position: absolute;
}
#certificates .panel {
    height: 85%;
    width: fit-content;
    min-width: 400px;
    margin: auto;
    top: 7.5%;
    display: flex;
    flex-direction: column;
}
input[name="certificatesInput"] {
    height: 40px;
    width: 40px;
    background: green;
    border: solid 3px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
    position: relative;
}
input[name="certificatesInput"]:checked {
    background: blue;
}
#certificates .panel div {
    height: 100%;
    margin: 2.5%;
    border-radius: 15px;
    background: hsla(0, 0%, 50%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#certificates .panel div::after {
    content: '';
}
#certificates .panel div img {
    max-height: calc(100% - 7.5%);
    min-width: 330px;
    max-width: 100%;
    margin: 7.5%;
    border-radius: 5px;
    aspect-ratio: 877/619;
    position: absolute;
    transition: 0.3s;
    cursor: pointer;
}

#htmlInput:checked ~ #htmlCertificate,
#cssInput:checked ~ #cssCertificate,
#javascriptInput:checked ~ #javasriptCertificate {
    position: static;
}
#htmlInput:checked ~ #htmlCertificate::after,
#cssInput:checked ~ #cssCertificate::after,
#javascriptInput:checked ~ #javasriptCertificate::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}
#htmlInput:checked ~ #htmlCertificate img,
#cssInput:checked ~ #cssCertificate img,
#javascriptInput:checked ~ #javasriptCertificate img {
    max-height: 90%;
    max-width: 60vw;
    top: 70px;
    left: 20%;
    margin: 0;
    position: fixed;
    z-index: 15;
}
#htmlInput:checked ~ #htmlCertificate::before,
#cssInput:checked ~ #cssCertificate::before,
#javascriptInput:checked ~ #javasriptCertificate::before {
    display: none;
}




#socials {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#socialsHeader {
    width: 1400px;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
    background: hsla(0, 0%, 50%, 0.5);
}
#socials .panel {
    display: flex;
    flex-direction: row;
    background: hsla(0, 0%, 50%, 0.5);
}
#socials .panel div {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}
#socials a {
    width: 25%;
    margin: auto;
    display: block;
}
#socials a img {
    width: 90%;
    margin: auto;
    display: block;
}



#contact {
    font-size: 2rem;
}
#contact .panel {
    padding-top: 20px;
    padding-bottom: 20px;
    background: hsla(0, 0%, 50%, 0.5);
}
#contact address {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: calc(10px + (2rem)/2);
    font-style: normal;
    background: var(--backgroundColor);
    display: inline-block;
}
#contact address a {
    font-style: italic;
}



.iconRoll {
    animation: icon 1s 1;
}
@keyframes icon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(1.25);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 880px) {
    #header {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 570px) {
    #header {
        font-size: 1.5rem;
    }
    .partInput {
        height: 10px;
        width: 70px;
        margin-top: -20px;
    }
}
@media screen and (max-width: 500px) {
    #posterTextPanel {
        font-size: 2rem;
    }
    #posterTextPanel span div {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    #greetings {
        font-size: 3.5rem;
    }
    #name {
        font-size: 3.5rem;
    }
    #username {
        font-size: 3rem;
    }
    #textCursor {
        height: 3rem;
        width: 0.5rem;
        margin-left: 0.25rem;
    }
}
@media screen and (max-width: 450px) {
    #verticalBanner {
        align-items: center;
    }
    #verticalBanner div::before {
        content: none;
    }
}
@media screen and (max-width: 420px) {
    #header {
        font-size: 1.1rem;
    }
    .partInput {
        height: 10px;
        width: 50px;
        margin-top: -25px;
    }
    #posterTextPanel {
        font-size: 1.5rem;
    }
    #greetings {
        font-size: 2rem;
    }
    #name {
        font-size: 2rem;
    }
    #username {
        font-size: 2.5rem;
    }
    #textCursor {
        height: 2.75rem;
        width: 0.25rem;
    }
    #certificates .panel {
        min-width: 100%;
    }
    #certificates .panel div {
        margin: 5%;
    }
    #certificates .panel div img {
        min-width: 300px;
        max-width: 90%;
    }
}
@media screen and (max-width: 360px) {
    #header {
        font-size: 1rem;
    }
    .partInput {
        height: 5px;
        width: 40px;
        margin-top: -25px;
    }
    #socials {
        font-size: 1.5rem;
        font-weight: 600;
    }
    #socials a {
        width: 90%;
    }
    #socials a img {
        width: 50%;
    }
    #certificates .panel div img {
        min-width: 260px;
        max-width: 90%;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: smooth;
	}
}

@media screen and (pointer:none), (pointer:coarse) {
    #home {
        height: 500px;
    }
}

